<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>

<table class="eventTable">
    <tr class="eventTableHeader">
        <th>Event</th>
        <th>Description</th>
        <th>Tech Hub</th>
    </tr>
    <th:block th:each="event : ${events}">
        <tr class="eventTableItems">
            <th th:text="${event.getKey()}"></th>
            <th th:text="${event.getValue()}"></th>
            <th><p th:replace="fragments :: tech-address"></p></th>
        </tr>
    </th:block>
</table>

</body>
</html>